/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Eclipse Core
.project

# Java annotation processor (APT)
.factorypath


